@model Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityUser

@{
    ViewData["Title"] = "Assign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.Label("Select Your User")
    @Html.DropDownList("UserName")

    @Html.Label("Select the Role")
    @Html.DropDownList("Name")

    <input type="submit" value="Create Role" />
}


@*<h2>Assign User a Role</h2>
<hr />

@using (Html.BeginForm("GetRoles", "Roles", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="message-success">@ViewBag.ResultMessage</div>

    <p>
        Username : @Html.DropDownList("Username", ViewBag.Users as SelectList )
    </p>

    <input type="submit" value="Choose Role" class="btn btn-default" />
}

@if (ViewBag.RolesForThisUser != null)
{
    var username = ViewBag.User.UserName;

    <h3>Roles for @ViewBag.User.UserName </h3>
    <ul>
        @using (Html.BeginForm("DeleteFromUser", "Roles", FormMethod.Post))
        {
            <li>@Html.HiddenFor(m => username)</li>
            foreach (var s in ViewBag.RolesForThisUser)
            {
                <li>@s.ToString() | <button onclick="this.form.submit()" value="@s.ToString()" name="RoleName">Delete</button></li>
            }
        }
    </ul>
    if (ViewBag.Roles.Count > 0)
    {
        <div>
            @using (Html.BeginForm("AddToUser", "Roles", FormMethod.Post))
            {
                <p>@Html.HiddenFor(m => username)</p>
                <p>Add Role: @Html.DropDownList("RoleName", new SelectList(ViewBag.Roles))</p>
                <input type="submit" value="Add Role" />
            }
        </div>
    }
}*@