@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using SonOfCodSeafood.ViewModels

@model RegisterViewModel



<div class="container register-form">

    <h2>Register Now to Receive THE NEWSLETTER</h2>
    <hr />
            <div class="form-group">

                @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                {
                    <h3>
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email)
                    </h3>
                    <h3>
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password)
                    </h3>
                    <h3>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)

                    </h3>
                    <br />
                    <hr />
                    <input type="submit" class="btn btn-default btn-lg" value="Register" />
                }
                </div>
            </div>


